.logo-container {
  @media screen and (max-width: 395px) {
    display:none;
  }
   .solid-logo {
    width: 40%;
    margin-left: 60%;
    margin-top: -30%;
    height: 650px;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    //animation: rotateOut 1s linear both;
    //animation: rotateIn 2s linear both;
    // animation-delay:1.4s;
    //animation: fadeIn 10s 11s;
    animation: backInRight 3s 1s;
  animation-fill-mode: forwards;
 animation-delay:0s;
   
 cursor: pointer;

   }
    }
    
    
